<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or metadata.title }}</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta
      name="description"
      content="{{ description or metadata.description }}"
    />
    <link
      rel="alternate"
      href="/feed/feed.xml"
      type="application/atom+xml"
      title="{{ metadata.title }}"
    />
    <link href="/css/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="/bundle.css" />
    <script
      src="https://kit.fontawesome.com/7991abe048.js"
      crossorigin="anonymous"
    ></script>
    <body>
      <script type="module">
        import mermaid from "/js/mermaid/mermaid.esm.mjs";
        mermaid.initialize({ startOnLoad: true });
      </script>
    </body>
  </head>
  <body>
    <header>
      <div class="container flex-header">
        <a href="/" target="_self">
          <img
            src="/assets/images/logo.svg"
            alt="data-integration.dev Logo"
            id="logo"
            eleventy:ignore
        /></a>
        <nav>
          {{
            collections.all
              | eleventyNavigation
              | eleventyNavigationToHtml
              | safe
          }}
        </nav>
      </div>
    </header>

    <main>{{ content | safe }}</main>

    <footer id="siteFooter">
      <div class="container"><small>© Adam Tetz 2025</small></div>
    </footer>
  </body>
</html>
