---
layout: base.njk
---

<div class="container grid-container">
  <aside id="sidebar" class="flex-container">
    <div class="sidebar-picture">
      <img
        src="/assets/images/profilepic.png"
        alt="profile picture"
        class="profile-pic"
      />
    </div>
    <div class="sidebar-content">
      <!-- <i class="fa-solid fa-user"></i> -->
      <section>This is going to be a sidebar</section>
    </div>
  </aside>
  <div id="main">
    <section>{{ content | safe }}</section>
  </div>
</div>
