---
title: MyRouteApp to Beeline converter
layout: sidebar.njk
---

<section>
  <h1>MyRouteApp to Beeline converter</h1>
  <p>
    This tool will convert a MyRouteApp gpx (version 1.1) file to a gpx that is
    compatible with the Beeline moto.
  </p>

  <small>Select your MyRouteApp file</small>
  <input type="file" id="file-input" />
  <div id="message"></div>
  <script src="/assets/scripts/mra2beeline/app.js"></script>
  <div id="download-container"></div>

  <h2>Sound great? There's one caveat!</h2>
  <p>
    This methods imports the waypoints added in the MyRouteApp but
    <i>will re-calculate</i> the route in between them. If you want the Beeline
    to calculate the same or near similar route, I advise you to take an extra
    15 min to add waypoints on every main road change. My approach looked like
    this:
    <br />
    <img
      src="/assets/images/mra-beeline-mra-screenshot.png"
      alt="MRA screenshot"
      eleventy:widths="600"
      class="centerImage"
    />
  </p>
</section>
