---
title: Contact
layout: sidebar.njk
eleventyNavigation:
  key: Contact
---

<section>
  <hgroup>
    <h1>Contact</h1>
    <p>I'd love to hear from you!</p>
  </hgroup>

  Whether you have a project in mind, have feedback on my content, want to learn
  more about my services or just feel like chatting about data integration.
</section>

{% contactMe %}
